.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* FileName: app.scss */

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font-family: "Gilroy", sans-serif; 
} 
body { 
	background: rgb(231, 235, 214); 
	background: linear-gradient( 
		180deg, 
		rgba(231, 235, 214, 1) 0%, 
		rgba(55, 102, 44, 1) 100%
	); 
} 

@import "./library"; 
@import "./player"; 
@import "./song"; 
@import "./nav"; 
h2, 
h3 { 
	color: #133a1b; 
} 
h3, 
h4 { 
	font-weight: 600; 
} 
button { 
	font-weight: 700; 
} 
